*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.navone{
  padding: 20px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  z-index: 6;
  position: absolute;
}

.navul{
  display: flex;
  list-style: none;
  margin: 0 auto 0 auto;
  gap: 50px;
}

.navli{
  cursor: pointer;
}

.confirm{
  padding: 20px;
  background-color: green;
  color: white;
  width: 200px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  border-radius: 10px;
}

.confirmout{
  padding: 20px;
  background-color: rgb(255, 0, 0);
  color: white;
  width: 200px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  border-radius: 10px;
}

.dropdown{
  animation: cartadded 3s ease-in-out forwards;
}


.samph{
  padding: 30px;
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.samphones{
  border: 1px solid rgb(153, 151, 151);
  height: 300px;
  min-width: 230px;
  max-width: 230px;
  position: relative;
  padding: 10px;
  padding-bottom: 20px;
}

.secnames{
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  padding: 10px;
}

.appphones{
  border: 1px solid rgb(153, 151, 151);
  height: 300px;
  min-width: 230px;
  max-width: 230px;
  position: relative;
  padding: 10px;
  padding-bottom: 20px;
}

.appph{
  padding: 30px;
  width: 100%;
  
  display: flex;
  gap: 30px;
  justify-content: center;
}

.view{
  text-align: right;
  padding: 0px 10px 10px 10px;
  cursor: pointer;
  text-decoration: underline;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.viewh{
  display: flex;
  align-items: center;
  justify-content: right;
}


.samsec{
  border-top: 1px solid rgb(78, 78, 78);
  border-bottom: 1px solid rgb(78, 78, 78);
}

.appsec{
  border-top: 1px solid rgb(78, 78, 78);
  border-bottom: 1px solid rgb(78, 78, 78);
}

.samicon{
  color: green;
}

.samfullsec{
  width: 100%;
  padding: 20px;
  border: 1px solid grey;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.appfullsec{
  width: 100%;
  padding: 20px;
  border: 1px solid grey;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.navhref{
  text-decoration: none;
  color: white;
}

.prdt{
  margin: 10px auto;
  width: 1000px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 1px grey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.delcart{
  text-align: center;
  background-color: gray;
  padding: 10px 80px;
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.delcart:hover{
  background-color: red;
}

.inpo{
  width: 100%;
  height: 20px;
}

.inpi{
  height: 40px;
  border: 1px solid grey;
  font-size: 20px;
  padding-left: 20px;
}

.entpd{
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
}

.picform{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subbut{
  padding: 15px 30px;
  margin: 0 290px 0 290px;
  cursor: pointer;
}

.subbut:focus{
  margin: rgb(90, 89, 89);
}

.cartsec{
  border: solid 1px grey;
  width: 1000px;
  margin: 0 auto 0 auto;
  padding: 50px;
  
}

.foot{
  padding: 30px;
  background-color: black;
  color: white;
}

.samphones>img{
  position: relative;
  height: 80%;
  width: 100%;
  
}

.faker{
  height: 56px;
}

.appphones>img{
  position: relative;
  height: 80%;
  width: 100%;
}

.price{
  font-weight: bolder;
}

.addcart{
  text-align: center;
  background-color: gray;
  padding: 10px 80px;
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.addcart:hover{
  background-color: green;
}

.green{
  background-color: green;
}

.rempro{
  text-align: center;
  color: black;
  padding-top: 20px;
  font-weight: bolder;
  font-size: 20px;
}

.container{
  display: flex;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  gap: 50px;
 }

 .iphnbanhol{
  background-color: black;
 }

 .fullbanholder{
  background-color: rgb(20,40,160);
 }

 .linkdef{
  text-decoration: none;
  color: black;
  
 }

 .remp{
  background-color: rgb(241, 241, 241);
  padding: 130px;
  border-radius: 15px;
  font-weight: bolder;
  font-size: 20px;
 }

 .addp{
  background-color: rgb(241, 241, 241);
  padding: 135px;
  border-radius: 15px;
  font-weight: bolder;
  font-size: 20px;
 
 }

 .addicon{
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

 }
.unit {
  margin-left: 90px;
  
}

 .remicon{
  font-size: 60px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .addp:hover{
  scale: 1.05;
  box-shadow: 0px 0px 20px rgb(187, 187, 187);
  
 }

 .remp:hover{
  scale: 1.05;
  box-shadow: 0px 0px 20px rgb(187, 187, 187);
  

 }
 
.remcart2 {
  display: none;
 }

 .remp:hover>div{
  color: red;
  
 }

 .addp:hover>div{
  color: rgb(0, 255, 34);
  
 }

 .appbann{
  background-color: rgb(86,60,94)
 }

 .sambanner{
  background-color: rgb(209,236,255);
 }

 .cartimgh{
  height: 200px;
  display: flex;
  align-items: center;
 }

 .cartphones{
  display: flex;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  align-items: center;
 }

 .classif{
  display: flex;
  gap: 150px;
  justify-content: center;
  margin-left: 50px;
 }

 .cartdesc{
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 1000px;
  justify-content: space-between;
  align-items: bottom;
/*   padding-top: 30px; */
  padding-left: 20px;
  height: 30px;
  
  
 }
 .deschol{
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 680px;
  justify-content: space-between;
  height: 30px;
 }

 .ex{
  margin: auto;
 }

 .cartnum{
  height: 20px;
  width: 50px;
 }

 .forcpage{
  background-image: url(./empty_cart.webp);
 }

@keyframes cartadded {
  0%{
      top : 0%
  }

  50%{
      top: 20%;
  }

  70%{
      top: 20%;
  }

  100%{
      top: 0%;
  }
}