* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: rgb(245, 245, 245);
}

.navone {
  padding: 20px;
  width: 100%;
  background-color: rgb(15, 16, 22);
  color: white;
  display: flex;
  z-index: 6;
  position: absolute;
}

.navul {
  display: flex;
  list-style: none;
  margin: 0 auto 0 auto;
  gap: 50px;
}

.navli {
  cursor: pointer;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: white;
}

.confirm {
  padding: 20px;
  background-color: green;
  color: white;
  width: 200px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  border-radius: 10px;
  display: none;
}

.confirmout {
  padding: 20px;
  background-color: rgb(255, 0, 0);
  color: white;
  width: 200px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  border-radius: 10px;
  display: none;
}

.bookndname{
  display: flex;
  justify-content: space-between;
}

.bookndname

.dropdown {
  display: block;
  animation: cartadded 3s ease-in-out forwards;
}

.samph {
  padding: 30px;
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.wrongpass {
  background-color: rgb(243, 168, 168);
}

.faker {
  height: 58px;
}

.secnames {
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  padding: 10px;
}

.fullbanholder {
  background-color: rgb(29, 29, 27);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appphones {
  border-radius: 5px;
  height: 360px;
  min-width: 250px;
  max-width: 250px;
  position: relative;
  padding: 10px 0;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.cat{
  color: rgb(88, 88, 88);
  font-size: 11px;
}

.prdet{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  width: 100%;
  padding: 0 10px;
}

.appphones:hover {
  animation: cards 0.1s ease-in-out forwards;
  box-shadow: 0px 0px 5px grey;
}

.iphnbanhol {
  background-color: black;
}

.fullbanholder {
  background-color: rgb(29, 29, 27);
}

.appph {
  padding: 30px;
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.view {
  text-align: right;
  padding: 0px 10px 10px 10px;
  cursor: pointer;
  text-decoration: underline;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secbanhol {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(248, 243, 240);
}

.fullbanholder2 {
  height: 200px;
}
.viewh {
  display: flex;
  align-items: center;
  justify-content: right;
}

.samsec {
  margin-top: 10px;
}

#samid {
  margin-top: 10px;
}

.samicon {
  color: green;
}

.samfullsec {
  width: 100%;
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.appfullsec {
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.navhref {
  text-decoration: none;
  color: white;
}

.prdt {
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.rempro {
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  padding: 10px;
  color: red;
}

.caut {
  text-align: center;
  background-color: red;
  display: flex;
  justify-content: center;
  width: 500px;
  margin: auto;
}

.delcart {
  text-align: right;
  background-color: red;
  color: white;
  padding: 20px 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
  letter-spacing: 1px;
}

.inpo {
  width: 100%;
  height: 20px;
}

.inpi {
  height: 40px;
  border: 1px solid grey;
  font-size: 20px;
  padding-left: 20px;
}

.entpd {
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
}

.picform {
  margin: 0px auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subbut {
  padding: 20px;
  margin: 0 290px 0 290px;
  cursor: pointer;
}

.subbut:focus {
  margin: rgb(90, 89, 89);
}

.cartsec {
  width: 1000px;
  margin: 0 auto 100px auto;
  padding: 50px 0 0 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.formcont {
  width: 400px;
  background-color: rgb(255, 255, 255);
  height: 500px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px grey;
}

.fhead {
  text-align: center;
}

.fem {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.fpas {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.filform:focus::placeholder {
  color: transparent;
}

.filform {
  height: 40px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.forbut {
  display: flex;
  padding: 5px 100px;
  border-radius: 10px;
  border: none;
  width: 98%;
  height: 80%;
  position: absolute;
  cursor: pointer;
}

.surr::before {
  content: "";
  height: 500px;
  width: 50px;
  background-color: red;
  animation: turn 2s linear infinite;
}



.surr {
  background-color: rgb(99, 212, 240);
  border-radius: 13px;
  width: 245px;
  margin: auto;
  height: 30px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: relative;
  cursor: pointer;
}

.foot {
  padding: 30px;
  background-color: black;
  color: white;
}


.imgdiv{
  min-height: 70%;
  max-height: 70%;
  width: 230px;
  display: flex;
  justify-content: center;
}

.cat2{
  font-size: 13px;
}

.imgdiv > img{
  height: auto;
  max-width: 100%;
  min-width: auto;
}
.samphones {
  border: 1px solid rgb(153, 151, 151);
  height: 300px;
  min-width: 230px;
  max-width: 230px;
  position: relative;
  padding: 10px;
  padding-bottom: 25px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.price {
  font-weight: bolder;
  font-size: 12px;
}

.addcart {
  text-align: right;
  background-color: black;
  color: white;
  padding: 20px 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
  letter-spacing: 1px;
}

.addcart:hover {
  background-color: rgb(41, 41, 41);
}

.green {
  background-color: rgb(41, 41, 41);
}

.sambanner {
  background-color: rgb(209, 236, 255);
}

.appbann {
  background-color: rgb(84, 59, 92);
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.addp {
  height: 300px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  margin-top: 100px;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}

.addp:hover,
.remp:hover {
  box-shadow: 0 0 10px;
  scale: 1.05;
}

.remp {
  height: 300px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  margin-top: 100px;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}

.addicon {
  background-color: white;
  text-align: center;
  padding: 70px;
  font-size: 50px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 20px;
}

.remicon {
  background-color: white;
  text-align: center;
  padding: 70px;
  font-size: 50px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 20px;
}

.linkdef {
  color: black;
  text-decoration: none;
}

.cartphones {
  display: flex;
  height: 200px;
  background-color: rgb(255, 255, 255);
  border: 1px solid grey;
  position: relative;
}

.bought {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: none;
  cursor: pointer;
}

.bought::after {
  content: "X";
  position: absolute;
  font-size: 20px;
  font-weight: bolder;
  left: 96%;
  top: 3%;
  cursor: pointer;
}

.cartimgh {
  display: flex;
  align-items: center;
  margin-left: 40px;
  width: 200px;
  padding: 5px;
}

.cartdesc {
  margin: auto 0;
  height: 100%;
}

.cartpname {
  font-weight: bolder;
  font-size: 20px;
  margin-top: 20px;
  padding-left: 20px;
}

.unit {
  margin-left: 90px;
}

.cartnum {
  height: 20px;
  width: 40px;
  outline: none;
}

.ex {
  margin-left: 65%;
  top: 50%;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  height: 20px;
  border-radius: 50%;
  color: rgb(255, 166, 0);
}

.ex:hover {
  scale: 1.07;
}

.grid-container > div {
  border-radius: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  height: 400px;
  padding: 10px;
}

.item1 {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
  background-image: url("./long\ color.gif");
  background-size: cover;
  background-position: center;
}

.item2 {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  background-image: url("./Nokia-XR20-IIHF.webp");
  background-size: cover;
  background-position: center;
}

.item3 {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  background-image: url("./promo1.jpg");
  background-size: cover;
  background-position: center;
}

.item4 {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
  background-image: url("./promo3.jpg");
  background-size: cover;
  background-position: center;
}

.item5 {
  grid-row: 2 / 3;
  grid-column: 4 / 5;
  background-image: url("./promo2.jpg");
  background-size: cover;
  background-position: center;
}

.remcart {
  animation: slideout 1s 0.1s ease-out forwards;
}

.remcart2 {
  display: none;
}

.classif {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

.cartop {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
}

.classif :nth-child(3):hover {
  background-color: red;
}

.red {
  background-color: red;
}

.forcpage {
  background-image: url(./empty_cart.webp);
  background-size: contain;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
}

.cpage {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cpage > div {
  border: none;
  border-radius: 10px;
}
.deschol {
  display: flex;
  height: 100%;
}

.cnamecont {
  height: 100%;
  width: 200px;
  display: flex;
  align-items: center;
}

.cpricecont {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cinpcont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.totalsec {
  height: 320px;
  background-color: rgb(255, 255, 255);
  padding: 0 50px;
}

.cumlcont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.cartsum {
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
  padding-top: 10px;
}

.cartsub {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.cartship {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.cartcoup {
  margin: 20px 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coupbod {
  height: 20px;
}

.carttot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 0;
  font-weight: bolder;
  font-size: 25px;
}

.cartcheck {
  padding: 10px 50px;
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
}

.cartcheck:hover {
  background-color: rgb(12, 240, 12);
}

.chhold {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

@keyframes cards {
  from {
    scale: 1;
  }

  to {
    scale: 1.01;
  }
}

@keyframes cartadded {
  0% {
    top: 0%;
  }

  50% {
    top: 20%;
  }

  70% {
    top: 20%;
  }

  100% {
    top: 0%;
  }
}

@keyframes turn {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

@keyframes slideout {
  from {
  }
  to {
    transform: translateX(300%);
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 1350px) {
  .appph {
    overflow-x: scroll;
    width: 1000px;
    margin: 0 auto;
    justify-content: left;
  }

  .samph {
    overflow-x: scroll;
    width: 1000px;
    margin: 0 auto;
    justify-content: left;
  }
}

@media screen and (max-width: 1030px) {
  .cartsec {
    width: 95%;
  }
}

@media screen and (max-width: 1020px) {
  .appph {
    width: 900px;
  }

  .samph {
    width: 900px;
  }
}

@media screen and (max-width: 920px) {
  .appph {
    width: 95%;
  }

  .samph {
    width: 95%;
  }
}

@media screen and (max-width: 890px) {
  .sambanner > img {
    width: 100vw;
  }

  .deschol {
    flex-direction: column;
  }

  .priceca {
    margin: 10px;
  }

  .cinpcont {
    justify-content: left;
    padding-left: 10px;
  }

  .cpricecont {
    justify-content: left;
    padding-left: 10px;
  }

  .cumlcont {
    justify-content: left;
    padding-left: 10px;
  }

  .cinpcont {
    justify-content: left;
    padding-left: 20px;
  }

  .tprice {
    margin: 10px;
  }

  .ex {
    margin-left: 50%;
  }

  .cartsec {
    width: 600px;
  }
}

@media screen and (max-width: 850px) {
  .inpi {
    width: 500px;
  }

  .picform {
    width: 100%;
  }

  .subbut {
    margin: 0 120px;
    padding: 10px;
  }

  .grid-container {
    height: 350px;
  }
}

@media screen and (max-width: 790px) {
  .fullbanholder > img {
    width: 100%;
  }
}

@media screen and (max-width: 690px) {
  .fullbanholder2 {
    width: 100%;
  }

  .appbann > img {
    width: 100%;
  }
  .container {
    flex-direction: column;
  }

  .bought,
  .bought > img {
    width: 95%;
  }

  .grid-container {
    height: 300px;
  }

  .bought > img {
    display: flex;
    margin: auto;
  }

  .bought::after {
    content: "X";
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    left: 91%;
    top: 3%;
    cursor: pointer;
  }
}

@media screen and (max-width: 620px) {
  .ex {
    right: 5%;
  }

  .cartsec {
    width: 400px;
  }

  .classif {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .classif > a,
  .classif > p {
    width: 200px;
    margin-bottom: 10px;
  }

  .cartimgh {
    margin: 0;
    width: 100px;
  }

  .inpi {
    width: 300px;
  }

  .subbut {
    margin: 0 20px;
    padding: 10px;
  }
}

@media screen and (max-width: 600px) {
  .iphnbanhol > img {
    width: 100%;
  }
}

@media screen and (max-width: 595px) {
  .appbann > img {
    height: 200px;
  }

  .sambanner > img {
    height: 200px;
  }

  .navone {
    justify-content: space-between;
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navul {
    display: none;
  }

  .navulba {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .navul > a {
    padding: 0px 30px;
    text-align: center;
  }
}

@media screen and (max-width: 580px) {
  .fullbanholder > img {
    width: 100%;
  }

  .appphones {
    height: 340px;
    min-width: 180px;
    max-width: 180px;
    font-size: 15px;
  }

  .imgdiv{
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imgdiv > img{
    max-height: 100%;
  }
}

@media screen and (max-width: 550px) {
  .caut {
    white-space: pre-wrap;
    width: 300px;
    padding-top: 10px;
  }

  .grid-container {
    height: 250px;
  }

  .prdt > div {
    height: 270px;
    min-width: 200px;
    max-width: 200px;
    position: relative;
    padding: 10px;
    padding-bottom: 25px;
  }

  .fullbanholder > img {
    height: 150px;
  }

  .addcart {
    text-align: right;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bolder;
    white-space: nowrap;
  }

  .inpi {
    width: 200px;
  }
}

@media screen and (max-width: 535px) {
  .appphones {
    height: 320px;
    min-width: 180px;
    max-width: 180px;
    font-size: 15px;
  }

  .addcart {
    font-size: 15px;
    padding: 10px 25px;
  }
}

@media screen and (max-width: 490px) {
  .iphnbanhol > img {
    height: 200px;
  }

  .fullbanholder2 {
    height: 150px;
  }

  .item1 {
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    order: 2;
  }

  .item2 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    order: 1;
  }

  .item3 {
    grid-row: 2 / 3;
    grid-column: 2 / 2;
    order: 1;
  }

  .item4 {
    grid-row: 2 / 3;
    grid-column: 3 / 3;
    order: 1;
  }

  .item5 {
    grid-row: 2 / 3;
    grid-column: 4 / 4;
    order: 1;
  }
}

@media screen and (max-width: 450px) {
  .fullbanholder > img {
    height: 160px;
  }

  .appphones {
    font-size: 5px;
    height: 320px;
    min-width: 170px;
    max-width: 170px;
    font-size: 15px;
  }

  .addcart {
    font-size: 10px;
    padding: 10px;
  }

  .prdet {
    font-size: 10px;
  
  }

  .samfullsec {
    gap: 5px;
    padding: 0;
  }

  .appfullsec {
    gap: 5px;
    padding: 0;
  }
}

@media screen and (max-width: 420px) {
  .cartsec {
    width: 300px;
  }

  .formcont {
    width: 95%;
  }

  .ex {
    margin-left: 40%;
  }

  .cartimgh {
    width: 100px;
  }

  .chhold {
    margin-bottom: 0px;
  }

  .carttot {
    margin-bottom: 10px;
  }

  .prdt {
    justify-content: center;
    align-items: center;
  }

  .inpi {
    width: 100%;
  }

  .prdt > div {
    height: 220px;
    min-width: 150px;
    max-width: 150px;
    position: relative;
    padding: 10px;
    padding-bottom: 25px;
    font-size: 10px;
  }

  .addcart {
    padding: 5px 20px;
  }

  .caut {
    width: 100%;
  }
}

.fullbanholder > img {
  height: 120px;
}

.fullbanholder2 {
  height: 150px;
}

@media screen and (max-width: 400px) {
  .appph {
    gap: 5px;
    padding: 10px 0;
  }

  .samph {
    gap: 5px;
    padding: 10px 0;
  }

  .appphones {
    width: 300px;
  }
}

@media screen and (max-width: 370px) {
  .fullbanholder2 {
    height: 120px;
  }

  .appfullsec {
    gap: 10px;
    padding: 10px 0;
  }
}

@media screen and (max-width: 350px) {
  .samfullsec {
    width: 100%;
    gap: 2px;
    padding: 10px 0px;
  }
}

@media screen and (max-width: 330px) {
  .addp,
  .remp {
    width: 100%;
  }

  .forbut {
    width: 95%;
  }

  .surr {
    width: 90%;
  }
}
